.home__wrapper {
  padding: 20px 20px 20px 180px;

  .home__tittle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .home__title {
      @media (max-width: 768px) {
        font-size: 24px;
      }
    }
  }
}
